/* Custom CSS File for the impress presentation */
/* To add Google Fonts, one option is to use @import(url('')); if you do, it must go before all other declarations except @charset
 * another option is to create a font source block. This will allow you to have a local fallback. It also allows Truetype fallbacks an so on.
 *
 *
 *
 * An example block below 
 * @font-face {
 * font-family: 'Satisfy';
 *  font-style: normal;
 *  font-weight: 400;
 *  src: local('Satisfy') url(http://themes.googleusercontent.com/static/fonts/satisfy/v4/tmRzDlQs5wZmOn9mIuLa-QLUuEpTyoUstqEm5AMlJo4.woff) format('woff'),
 *  local('Satisfy') url('Satisfy.woff') format('woff'); 
 * }
 *
 *
 * */

/* hint and unsupported content */
div.fallback-message {
    display: none;
}


div.hint {
    display: none;
}
/* Tag Markup */
div.step{
    min-width: 900px;
    min-height: 700px;
    font-size: 48px;
    text-align: center;
}

/* Impress-related markup */
.impress-enabled .step.active {
    background-color: #fff;:
}

/* make the non-active steps transparent */
.step:not(.active) { opacity: 0.33; }

/* Per-slide Markup uses .impress-on-slideID */
.impress-not-supported div.fallback-message{
    display: block;
    height: 100px;
    width: 250px;
    margin-left: -125px;
    margin-top: -50px;
    position: absolute;
    left: 50%;
    top: 50%;

}
.impress-on-title div.hint{
   display: block;
   font-size: 14px;
   font-style: italic;
   text-align: center;
   width: 250px;
   position: absolute;
   left: 50%;
   margin-left: -125px;
}
.impress-on-overview div:hover{
    opacity: 1;
    background-color: #fff;
}

/* specific divs */
div#title h1{
    text-align: center;
    margin: 10px;
    font-size: 96px;
    font-family: 'Tangerine', sans-serif;
}
div#useCases img{
    float: left;
    margin: 4%;
}
div#infrastructure{
    background-color: rgba(255,255,255,0.75);
}
div#infrastructure p{
    margin-top: 30%;
}
.impress-on-infrastructure {
    background-image: url("../img/desk.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-height: 100%;
    background-width: 100%;

}
div#HiddenArchives{
    background-color: rgba(0,0,0,0);
}
div#HiddenArchives p{
    font-size: 36px;
    font-family: monospace;
    color: white;
    position: absolute;
    left: 10%;
    bottom: 15%;
}
.impress-on-HiddenArchives {
    background-image: url("../img/hidden.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-height: 100%;
    background-width: 100%;

}
div#ingestion {
    background-color: rgba(0,0,0,0);
}    
div#ingestion p{
    color: white;
    background-color: rgba(64,64,64,1);
    margin-bottom: 4%;
}
.impress-on-ingestion{
    background-image: url("../img/burned.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-height: 100%;
    background-width: 100%;

}
div#NERD h1{
    margin-bottom: 2%;
}
div#NERD h3{
    clear: both;
    text-align: center;
    font-family: cursive;
}
div#NERD ol{
    font-size: 24px; 
    text-align: left;
    list-style-type: upper-alpha;
    list-style-position: inside;
    margin-top: 5%
}

div#NERD img{
    float:left;
    margin-right: 2%;
}

div#ARG img{
    float: left;
}
div#ARG ul{
    text-align: right;
}

div#conclusions{
    text-align: left;
    padding: 5%; 
}

div#conclusions ol{
    position: absolute;
    left: 10%;
    top: 10%;

}
.impress-on-conclusions{
    background-image: url("../img/mountains.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-height: 100%;
    background-width: 100%;

}


div#conclusions ol{
    list-style-type: upper-roman;
    list-style-position: inside;
}
div#conclusions li{
    margin-bottom: 1%;
}
div#overview {
    display: none;
}
